<style>
    @media only screen and (min-width: 700px) {
        #fb_plug{
            width: 70%;
            height: 60px;
        }

    }
    @media only screen and (max-width: 699px) {
        #fb_plug{
            width: 90%;
            height: 120px;
        }
    }
</style>

<ion-modal-view>
    <ion-header-bar disabled>
        <h1 class="title">Contact Me</h1>
        <div style="float: right;" class="buttons">
            <button  class="button button-dark button-clear" ng-click="close_modal()"><b>Close</b></button>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
        <div class="desktop_center mobile_center">
            <img style="width:40%;" src="../../img/tolllll.png" alt=""/>
            <br/>
            <b>Name :</b> Mr.Natthakorn <br/>
            <b>ชื่อ :</b> นายณัฐกรณ์<br/>
            <b>Surname :</b> Nakhaseno <br/>
            <b>นามสกุล :</b> นาคะเสโน<br/>
            <b>Nickname :</b> Torn <br/>
            <b>ชื่อเล่น :</b> ตอน , ตอ (เรียกหมูตอน จะงอนมากๆ)<br/><br/>

            <b>Mail :</b> Torn.programmer@gmail.com <br/>
            <b>Tel :</b> 090-1155607 <br/>
            <b>Facebook</b> : <a href="https://www.facebook.com/Tor.NeuTron" target="_blank">Tor.NeuTron</a> <br/>
            <br/><b>Line :</b> - (Not Have)<br/>
            <b>Twitter :</b> - (Not Have)<br/>
            <b>Instagram :</b> - (Not Have)<br/>
            <b>LinkIn :</b> - (Not Have)<br/>
            <b>Whatapp :</b> - (Not Have)<br/>
            <br/>
            <div>
                <iframe id="fb_plug" src="https://www.facebook.com/plugins/follow?href=https://www.facebook.com/Tor.NeuTron&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light" 
                        scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>

            <br/><br/>
        </div>
    </ion-content>
</ion-modal-view>
