<style>
    .mini_body,
    select {
        font-size: 15px;
        background-color: black !important;
        color: wheat !important;
    }

    th,
    td {
        border: 1px solid;
        color: wheat;
        text-align: center;
        padding: 5px;
    }

    [class='paginate_button current'] {
        background-color: gray !important;
    }

    .dataTables_length {
        float: left !important;
    }

    .dataTables_filter {
        float: right !important;
        padding-bottom: 10px;
        margin-top: -15px !important;
    }

    .dataTables_filter input {
        height: 20px !important;
    }

    button[disabled] {
        color: grey !important;
        cursor: not-allowed !important;
    }

</style>

<ion-view view-title="Tolly Trade" can-swipe-back="false" hide-back-button hide-nav-bar>
    <ion-content class="mini_body" overflow-scroll="true" style="background-color: black;">
        <center><br />
            <input style="width: 70%;" id="api_key" type="text" placeholder="API Key" /><br />
            <input style="width: 70%;" id="api_secret_key" type="password" placeholder="Secret Key" /><br />
            <button ng-click="cab()"><b>Check Available Balance</b></button><br /><br />

            Available Balance: <span id="available_balance">-</span>&nbsp;USDT&nbsp;<br /><br />
            <div style="display: flex; align-items: center; justify-content: center;">
                Auto Leverage :&nbsp;<input style="width: 47px; padding: 2px; height: 19px;" id="auto_leverage" type="number"
                    value="16" />&nbsp;X&nbsp;
                | Cut Percent :&nbsp;<input style="width: 50px; padding: 2px; height: 19px;" id="cut_percent" type="number"
                    value="3.7" />&nbsp;%
            </div>
            <br />
            <hr /><br />

            Order Status : <select id="select_order_status" onchange="selectOrderTradeStatus()">
                <option value="">All</option>
                <option value="ing.">- Longing & Shorting</option>
                <option value="Hedging">- Hedging</option>
                <option value="Longing">- Longing</option>
                <option value="Shorting">- Shorting</option>
            </select><br /><br />
        </center>

            <div style="width: 100% !important; padding: 10px;">
            <table class="stripe" id="table_percent_change_1D">
                <thead>
                    <tr>
                        <th>Coin</th>
                        <!-- <th>Last Price</th> -->
                        <th style="width: 30px !important;">1D Change</th>
                        <th>Action & Status & PNL</th>
                    </tr>
                </thead>
                <tbody id="tbody_percent_change_24h">
                </tbody>
            </table>
            </div>
            <br/><br/><br/><br/>
    </ion-content>
</ion-view>