<ion-view view-title="Contact Me">
    <ion-content overflow-scroll="true">
        <div class="rowly">
            <div class="coly-2"></div>
            <div style="background-color: #F0F8FF; padding: 20px;" class="coly-8 text_center">

                <div align="center" class="pic desktop_right_40">
                    <img src="../img/me2.jpg" alt=""/>
                </div>
                <div class="pic detail_left_60">
                    <b>Name :</b> Mr.Natthakorn <br/>
                    <b>ชื่อ :</b> นายณัฐกรณ์<br/>
                    <b>Surname :</b> Nakhaseno <br/>
                    <b>นามสกุล :</b> นาคะเสโน<br/>
                    <b>Nickname :</b> Tron <br/>
                    <b>ชื่อเล่น :</b> ต็อน <br/><br/>

                    <b>Mail :</b> Torn.programmer@gmail.com <br/>
                    <b>Tel :</b> 094-0459870 <br/>
                    <b>Facebook</b> : <a href="https://www.facebook.com/Tor.NeuTron" target="_blank">Tor.NeuTron</a> <br/>
                    <div class="shift-space"></div><div class="shift-space"></div>
                    <iframe class="i_fay" src="https://www.facebook.com/plugins/follow?href=https://www.facebook.com/Tor.NeuTron&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" 
                            scrolling="no" frameborder="0" style="border: 3px; width:80%;" allowTransparency="true"></iframe>
                    <div class="shift-space"></div>
                    <b>Github :</b> http://www.github.com/TornMan <br/>
                    <b>Twitter :</b> - (Not Have)<br/>
                    <b>Instagram :</b> - (Not Have)<br/>
                    <b>LinkIn :</b> - (Not Have)<br/>
                    <b>Whatapp :</b> - (Not Have)<br/>
                </div>
            </div>
            <div class="coly-2"></div>
        </div>
		<br/><br/>&nbsp;
    </ion-content>
</ion-view>